body {
    background-color: white;
    color: white;
    margin: 30px auto;
}

h3 {
    color: #000000;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.452);
}

.headerTitle {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
}

.headerTab {
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-color: #000000;
    border-style: solid;
    border-width: 1px thin;
}

.header>div>h1 {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    font-family: Lobster;
    /* position: -webkit-sticky;
    text-align: center; */
    position: relative;
    top: 50%; 
    left: 55%; 
    transform: translate(-50%, -50%); 
    font-size: 50px;
}

.header>div>a1 {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    
} 

.button {
 
 border: #000000;

} 

.button:hover{
    border-width : 1px thin;
    border-style: solid;
} 

.selected{
	background-color: black !important;
	color:white !important;
}


.a2{
    font-size: 15px;
}
/* .header>div>a {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    font-size: 15px;
} */
.header>div {}

.modelNameSelect {
    border: 1px solid #000000;
    /* background: url('https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png') calc(100% - 7px) center no-repeat; */
    background-size: 20px;
    /* cursor: pointer; */
    margin-top: 100px;
    box-sizing:border-box;
    width: 130px;
    height: 50px;
}

.modelNameSelect .label {
    color: rgb(0, 0, 0);
    display: flex; 
     align-items: center; 
    width: inherit; 
     height: inherit ; 
    border: 0 none; 
    outline: 0 none; 
     padding-left: 15px;
    background: transparent; 
     cursor: pointer; 
}

.modelNameSelect .optionList {
    width: 100%;
    background: #000000;
    color: #000000;
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
}

.modelNameSelect.active .optionList {
    max-height: 500px;
}

.modelNameSelect .optionItem {
    border-bottom: 1px dashed rgb(255, 222, 222);
    padding: 5px 15px 5px;
    transition: .1s;
}

.modelNameSelect .optionItem:hover {
    background: rgb(0, 0, 0);
}

.modelNameSelect .optionItem:last-child {
    border-bottom: 3 none;
}




.cvtpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.cvtform {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadbox {
    margin-top: 100px;
    min-width: 150%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    /* height: 50%; */
    background-color: rgb(255, 255, 255);
    /* min-height: 1vh; */
    /* border-radius: 60px; */
    border-style: solid;
    border-width: 1px;
  display: -webkit-flex;
  display: -ms-flexbox;
  /* display: flex; */
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;


}


.button {
  float: left;
  min-width: 100px;
  max-width: 150px;
  display: block;
  margin: 0.5em;
  padding: 0.5em 0.3em;
  border: none;
  background: none;
  color: #000000;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  /* border: #000000; */
    border-radius: 8%;
    text-align: center;
} 

/* .button:hover{
    border-color: #000000;
    border-style: solid;
    border-width: 1px thin;
} */

.selectedTab{
    border-bottom: solid 2px #fff;
}

.unSelectedTab:after {/*after 가상요소*/
    display:block;/*a요소를 블록 요소라고 선언*/
   /* width:70px;카테고리 메뉴 밑줄의 크기를 동일하게 주기 위해 width 설정*/
 /*혹시 동일하지 않길 바란다면 width 삭제*/
    content: '';
    border-bottom: solid 2px #fff;
    transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
 }
 .unSelectedTab:hover:after {
    transform: scaleX(1);/*a 속성에 hover시 기존 크기로*/
 }
 .button1 {
    margin : 10%;
 }
 button:hover {
    cursor: pointer;
 }