body {
    background-color: white;
    color: #000000;;
    margin: 0px;
}

h3 {
    color: #000000;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.452);
}

.headerTitle {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
}

.headerTab {
    width: 100%;
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-color: #000000;
    border-style: solid;
    border-width: 1px thin;
}

.header>div>h1 {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    font-family: Lobster;
    /* position: -webkit-sticky;
    text-align: center; */
    position: relative;
     top: 50%; 
     left: 50%; 
     transform: translate(-50%, -50%); 
    
}

.header>div>a1 {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    
} 

.button {
 
 border: #000000;

} 

.button:hover{
    border-width : 1px thin;
    border-style: solid;
} 




.a2{
    font-size: 15px;
}



.button {
  float: left;
  min-width: 100px;
  max-width: 150px;
  display: block;
  margin: 0.5em;
  padding: 0.5em 0.3em;
  border: none;
  background: none;
  color: #000000;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  /* border: #000000; */
    border-radius: 8%;
    text-align: center;
} 



.selectedTab{
    border-bottom: solid 2px #fff;
}

.unSelectedTab:after {/*after 가상요소*/
    display:block;/*a요소를 블록 요소라고 선언*/
   /* width:70px;카테고리 메뉴 밑줄의 크기를 동일하게 주기 위해 width 설정*/
 /*혹시 동일하지 않길 바란다면 width 삭제*/
    content: '';
    border-bottom: solid 2px #fff;
    transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
 }
 .unSelectedTab:hover:after {
    transform: scaleX(1);/*a 속성에 hover시 기존 크기로*/
 }
 .button1 {
    margin : 10%;
 }
 button:hover {
    cursor: pointer;
 }

 #root {
  width: 100%;
  margin: 60px auto;
  max-width: 800px;
}

.title {
  text-align: center;
}

.contents {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.contents .upload-box {
  width: calc(50% - 15px);
  box-sizing: border-box;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contents .upload-box .drag-file {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #dbdbdb;
}
.contents .upload-box .drag-file.highlight {
  border: 3px dashed rgb(102, 102, 102);
}
.contents .upload-box .drag-file .image {
  width: 40px;
}
.contents .upload-box .drag-file .message {
  margin-bottom: 0;
}
.contents .upload-box .file-label {
  margin-top: 30px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  width: 65%;
  border-radius: 6px;
  cursor: pointer;
}
.contents .upload-box .file {
  display: none;
}

.contents .files {
  width: calc(50% - 15px);
  box-sizing: border-box;
  overflow: auto;
  height: 360px;
}
.contents .files .file {
  display: flex;
  padding: 20px 20px;
  border-bottom: 1px solid #dbdbdb;
}
.contents .files .file:last-child {
  margin-bottom: 0px;
  border-bottom: none;
}

.contents .files .file .thumbnail {
  display: flex;
  flex: none;
  width: 50px;
  margin-right: 20px;
  align-items: center;
}
.contents .files .file .thumbnail .image {
  width: 100%;
}

.contents .files .file .details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contents .files .file .details .header {
  display: flex;
}
.contents .files .file .details .header .name {
  width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contents .files .file .details .header .size {
  margin-left: auto;
}

.contents .files .file .progress {
  position: relative;
  height: 6px;
  background-color: #dbdbdb;
  overflow: hidden;
  margin-top: 4px;
  border-radius: 10px;
}
.contents .files .file .progress .bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}