body {
    background-color: white;
    color: white;
    margin: 50px auto;
}

h3 {
    color: #000000;
    margin: 0px;
}

.header {
    
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.452);
}

.headerTitle {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
}

.headerTab {
width: 100%;
	height: 40px;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-color: black;
	border-style: solid;
	border-width: 3px thin;
	margin-top: 20px;
}

.header>div>h1 {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    font-family: Lobster;
    /* position: -webkit-sticky;
    text-align: center; */
    position: relative;
     top: 50%; 
     left: 50%; 
   /*  transform: translate(-50%, -50%); */
    
}

.header>div>a1 {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    
} 

.button {
 
 border: #000000;

} 

.button:hover{
    border-width : 1px thin;
    border-style: solid;
} 


.selected{
	background-color: black !important;
	color:white !important;
}




.modelNameInput{
    text-align: center;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    
}



input[type=text]:focus{
	border-color:rgb(236, 236, 236);
	box-shadow:0 0 8px 0 dodgetBlue;
}


.button {
  float: left;
  min-width: 100px;
  max-width: 150px;
  display: block;
  margin: 0.5em;
  padding: 0.5em 0.3em;
  border: none;
  background: none;
  color: #000000;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
 
    border-radius: 8%;
    text-align: center;
} 


.unSelectedTab:after {/*after 가상요소*/
    display:block;/*a요소를 블록 요소라고 선언*/
   /* width:70px;카테고리 메뉴 밑줄의 크기를 동일하게 주기 위해 width 설정*/
 /*혹시 동일하지 않길 바란다면 width 삭제*/
    content: '';
    border-bottom: solid 2px #fff;
    transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
 }
 .unSelectedTab:hover:after {
    transform: scaleX(1);/*a 속성에 hover시 기존 크기로*/
 }
 .button1 {
    margin : 10%;
 }
 button:hover {
    cursor: pointer;
 }




* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}

/* ul,
li {
  list-style: none;
} */
/* 
body{
  margin-top: 200px;
} */

a {
  text-decoration: none;
  /* color: #000000; */
  /* color: inherit; */
  /* ㄴ🟡 컬러 상속받아라 */
}
.board_wrap {
  width: 1000px;
  margin:200px auto;
}

.board_title {
  margin-bottom: 40px;
  color: #000000;

}

.board_title strong {
  font-size: 3rem;
}

.board_title p {
  margin-top: 5px;
  font-size: 1.4rem;
  color: #000000;
}

.bt_wrap {
  margin-top: 50px;
  text-align: center;
  font-size: 0;
  text-align: center;
}

.bt_wrap a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1.4rem;
  /* color: #000000; */
}
.bt_wrap a:first-child {
  margin-left: 0;
  /* color: #000000; */
}

.bt_wrap a.on {
  background: #000;
  color: #fff;
}
.board_list {
  width: 100%;
  border-top: 2px solid #000;
}
.board_list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}
.board_list > div.top {
  border-bottom: 1px solid #999;
}
.board_list > div:last-child {
  border-bottom: 1px solid #000;
}
.board_list > div > div {
  display: inline-block;
  /* ㄴ 🟡가로배치!!! */
  padding: 15px 0;
  /* ㄴ 🟡모든 픽셀 여백 15px 0 */
  text-align: center;
  font-size: 1.4rem;
  /* ㄴ 🟡부모에다가는 font-size : 0을 줌. */
}

.board_list > div.top > div {
  font-weight: 600;
  color: #000000;
}

.board_list .num {
  width: 10%;
  color: #000000;
  /* ㄴ🟡번호칸이 10%의 영역을 가지게 된다. */
}
.board_list .title {
  width: 60%;
  text-align: center;
  
  /* color: #000000; 안먹는다 */
}
.board_list .top .title {
  text-align: center;
  color: #000000;
}

.board_list .date {
  width: 10%;
  color: #000000;
}
.board_page {
  margin-top: 30px;
  /* ㄴ🟡 위로 여백 */
  text-align: center;
  /* ㄴ🟡 가운데정렬로 */
  font-size: 0;
  /* ㄴ🟡 페이지 순서 박스 사이의 여백 없애기 */
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  /* ㄴ🟡 board_page a.bt과 num 에 패딩값을 넣게 되면서 상자가 길어지게 되는데, 이를 방지 하기 위해서 이 패딩값을 넘지 말아라~ 하는 코딩부분(전체높이 32px를 넘지 않게)*/
  vertical-align: middle;
  /* ㄴ🟡박스 높낮이 같게 */
  border: 1px solid #ddd;
  border-left: 0;
  line-height: 100%;
}

.board_page a.bt {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
   color: #000000;
}

.board_page a.num {
  padding-top: 9px;
  font-size: 1.4rem;
}

.board_page a.num.on {
  border-color: #000;
  background: #000;
  color: #fff;
}

.board_page a:first-child {
  border-left: 1px solid #ddd;
} 
