:root {
    --bg-color: linear-gradient(81.02deg, #fa5560 -23.47%, #b14bf4 45.52%, #4d91ff 114.8%);
}

body {
    background-color: black;
    color: white;
    margin: 0px;
}

h3 {
    color: #8858ED;
    margin: 0px;
}


.header {
    position: fixed;
    max-height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.452);
}

.headerTitle {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.headerTab {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.header>div>a {
    color: white;
    text-decoration-line: none;
}

.header>div {}

.pageSection{
    padding-top: 12vh;
}

.uploadpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadform {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#modelNameInput {
    height: 7vh;
    font-size: 2rem;
}


.uploadbox {
    margin-top: 30px;
    color: rgb(102, 102, 102);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    /* height: 50%; */
    background-color: rgb(255, 255, 255);
    /* min-height: 1vh; */
    border-radius: 60px;
    border-style: dashed;
}

#imageSetSub {
    margin: 30px;
    height: 10vh;
    font-size: 2rem;
    border-radius: 10vh;
    background: var(--bg-color);
    color: white;
}


.selectedTab{
    border-bottom: solid 2px #fff;
}

.unSelectedTab:after {/*after 가상요소*/
    display:block;/*a요소를 블록 요소라고 선언*/
   /* width:70px;카테고리 메뉴 밑줄의 크기를 동일하게 주기 위해 width 설정*/
 /*혹시 동일하지 않길 바란다면 width 삭제*/
    content: '';
    border-bottom: solid 2px #fff;
    transform: scaleX(0);/*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
    transition: transform 250ms ease-in-out; /*변형 방식*/
 }
 .unSelectedTab:hover:after {
    transform: scaleX(1);/*a 속성에 hover시 기존 크기로*/
 }