<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.AId_creative.mapper.A_Mapper">


   <insert id="file_up"
      parameterType="kr.AId_creative.entity.Upload_Info">
      INSERT INTO UPLOAD_INFO VALUES
      (#{IMG_CODE},#{IMG_NAME},#{MODEL_CODE},#{MODEL_NAME},#{USER_ID},#{USER_NICK},#{IMG_PROMPT},#{IMG_ORIGIN})

   </insert>

</mapper>
 